<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpaceAgency.SiteWWW</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
  <nav class="blue darken-3" role="navigation">
    <div class="nav-wrapper container">
      @await Html.PartialAsync("RocketsMenu",(IEnumerable<SpaceAgency.Data.Data.Travels.Planet>)ViewBag.ModelRockets)
    </div>
  </nav>

  @RenderBody() <!--To nic nie robi u mnie bo były konflikty w typie danych, przeniosłem zawartość do "MainContent"-->

  <footer class="page-footer blue darken-3">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3">Rafał Olejniczak</a>
      </div>
    </div>
  </footer>
    
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/init.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
