@{
    ViewData["Title"] = "SpaceAgency";
}

 <div class="section">

      <!--   Icon Section   -->
      <div class="row">

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="~/Gliese_667Cc.jpg">
              <span class="card-title">Gliese-667Cc</span>
            </div>
            <div class="card-content">
              <p>Gliese 667 Cc is an exoplanet orbiting within the habitable zone of the red dwarf star Gliese 667 C, 
                  which is a member of the Gliese 667 triple star system, approximately 23.62 light-years (7.24 parsecs; 223.5 trillion kilometres)
                  away in the constellation of Scorpius. Temperatues of this planets are similar to our earth like. <br> <br>
                  Our Pioniers main mission will be searching for possible resources and preparing save habitants for future missions. </p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="~/KEPLER_22B.jpg">
              <span class="card-title">Kepler-22b</span>
            </div>
            <div class="card-content">
              <p>Kepler-22b is an exoplanet orbiting within the habitable zone of the Sun-like star Kepler-22.
                  It is located about 600 light-years (180 pc) from Earth in the constellation of Cygnus.
                  It was discovered by NASA's Kepler Space Telescope in December 2011 and was the first known transiting planet to orbit within the habitable zone of a Sun-like star. <br> <br>
                  Main goal will be prepare this planet as new Humankind home hover if our Pioniers will find any rare resources they will be able to set up small eco friendly mines.</p>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="~/Kepler-69c.jpg">
              <span class="card-title">Kepler-69c</span>
            </div>
            <div class="card-content">
              <p>Kepler-69c is a confirmed super-Earth extrasolar planet, likely rocky, orbiting the Sun-like star Kepler-69, the outermore of two such planets discovered by NASA's Kepler spacecraft. 
                  It is located about 2,430 light-years (746 parsecs) from Earth. <br> <br>
                  This mission will require from our Pioniers to focus on maximum efficiency, mining and factory optimalization.
                  There is no need to be eco friendly on this planet. We are not planing to make this planet anything more than Humankind biggest mine </p>
            </div>
          </div>
        </div>

      </div>

 </div>