@{
    ViewData["Title"] = "SpaceAgency";
}

 <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">call</i></h2>
            <h5 class="center">Call Us</h5>

            <p class="light">Please call 8:00 - 16:00. +48 111 222 333 - Office <br>
                             Please call 10:00 - 20:00. +48 111 222 334 - Sales </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">email</i></h2>
            <h5 class="center">Email Us</h5>

            <p class="light">Answer in 24h - EasySpaceSpeed@gmail.com <br>
                             Answer in 12h -JoinSpacePioneers@gmail.com </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">build</i></h2>
            <h5 class="center">Support</h5>

            <p class="light"> +48 111 222 555 - Questions about Joining <br>
                              +48 111 222 666 - Page technical support </p>
          </div>
        </div>
      </div>

 </div>