@{
    ViewData["Title"] = "SpaceAgency";
}

 <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Atomic Energy</h5>

            <p class="light">No solar panels, No dust problems, No faild missions. You can trust our power sources that we prepare for your pionier mission.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Experience Specialists</h5>

            <p class="light">Our team is ready to help you with any needed knowladge once you arrive on other planets. You don't need to know everything, we will help you on the way.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Best systems and components</h5>

            <p class="light">Finest and honest partners provide us best components for our spacecrafts. You don't need to worry about quality of your space vesel</p>
          </div>
        </div>
      </div>

 </div>