@{
    ViewData["Title"] = "Main";
}

<div class="content-wrapper">

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Pioneers by Countries</h4>
          <div class="row">
            <div class="col-md-5">
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>
                        <i class="flag-icon flag-icon-pl"></i>
                      </td>
                      <td>USA</td>
                      <td class="text-right"> 1 </td>
                      <td class="text-right font-weight-medium"> 100% </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-7">
              <div id="audience-map" class="vector-map"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">All Pioneers</h4>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th> # </th>
                  <th> Name </th>
                  <th> SurName </th>
                  <th> Status </th>
                  <th> Current Planet </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> 1 </td>
                  <td> Rafał </td>
                  <td> Olejniczak </td>
                  <td> Waiting for mission </td>
                  <td> Earth </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Missions</h4>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th> # </th>
                  <th> Name </th>
                  <th> Destination </th>
                  <th> Type </th>
                  <th> Status </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> 1 </td>
                  <td> First "Brown Kepler" satelite scan </td>
                  <td> Kepler_69c</td>
                  <td> Scan </td>
                  <td> Planned </td>
                </tr>
                <tr>
                  <td> 2 </td>
                  <td> First human habitat setup mission </td>
                  <td> Kepler_69c </td>
                  <td> Habitat Deploy </td>
                  <td> Planned </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Structures</h4>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th> # </th>
                  <th> Name </th>
                  <th> Type </th>
                  <th> Planet </th>
                  <th> Latitude </th>
                  <th> Longitude </th>
                  <th> Status </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> 1 </td>
                  <td> Gliese Main Mine </td>
                  <td> Mine </td>
                  <td> Gliese-667Cc </td>
                  <td> 28.22 </td>
                  <td> 1223.01 </td>
                  <td> Planned </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
