@model IEnumerable<SpaceAgency.Data.Data.Travels.Travel>
@{
    ViewData["Title"] = "Rockets";
    Layout = "~/Views/Shared/_SpaceOffersLayout.cshtml";
}
<div>
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <ul class="collection">
            @foreach(var travel in Model)
            {
                <li class="collection-item avatar">
                  <img src= @( "/" + travel.Planet.Name + ".jpg") alt="" class="circle">
                  <span class="title">@Html.ActionLink(travel.Name, "MoreInfo", "SpaceOffers", new {id=travel.IdTravel}, null)</span>
                  <p>Seats - @travel.Seats <br>
                     Time off Earth - @travel.TimeOffEarth
                  </p>
                </li>
            }
        </ul>
        <br><br>
      </div>
    </div>
</div>