@model SpaceAgency.Data.Data.Travels.Engine
@{
    ViewData["Title"] = "MoreInfo";
    Layout = "~/Views/Shared/_SpaceOffersLayout.cshtml";
}

<div>
    @Model.Name
</div>
<div>
    @Model.Model
</div>
<div>
    @Model.Type
</div>
<div>
    @Model.Stage
</div>