@model SpaceAgency.Data.Data.Travels.Travel
@{
    ViewData["Title"] = "MoreInfo";
    Layout = "~/Views/Shared/_SpaceOffersLayout.cshtml";
}

<div id="index-banner" class="parallax-container">

<div class="container">
  <div class="row">
    <div class="col s12">
      <h1 class="center-align">@Model.Name</h1>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
    
      <div class="col s7">
        <div class="center-align"> <img src= @( "/" + Model.Planet.Name + ".png") alt="" class="poster"> </div>
      </div>
      
      <div class="col s5">
      @{await Html.RenderPartialAsync("MoreInfoData");}
      </div>
    
    </div>
</div>

<div class="parallax"><img src="~/Space.jpg" alt=""></div>
</div>