@model SpaceAgency.Intranet.TwoViews.TwoViewsAtOnce

@{
    ViewData["Title"] = "Edit";
}
<div class="card">
    <div class="card-body">

        <h1>Edit</h1>

        <h4>Mission</h4>

        <form asp-action="Edit" asp-route-id="@Model.Mission.IdMission">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Mission.IdMission" />
            <div class="form-group">
                <label asp-for="Mission.Name" class="control-label"></label>
                <input asp-for="Mission.Name" class="form-control" />
                <span asp-validation-for="Mission.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mission.Destination" class="control-label"></label>
                <input asp-for="Mission.Destination" class="form-control" />
                <span asp-validation-for="Mission.Destination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mission.Type" class="control-label"></label>
                <input asp-for="Mission.Type" class="form-control" />
                <span asp-validation-for="Mission.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mission.Status" class="control-label"></label>
                <input asp-for="Mission.Status" class="form-control" />
                <span asp-validation-for="Mission.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
