@model SpaceAgency.Intranet.ViewModels.MissionViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="content-wrapper">
  <div>
      @await Html.PartialAsync("MissionA", Model)
  </div>

  <div class="card">
      @await Html.PartialAsync("MissionB")
  </div>
</div>

