

@{
    ViewData["Title"] = "Index";
}


<div class="content-wrapper">
<div class="row">
  <div class="col-lg-6 grid-margin stretch-card">
      <div id="partialView">

      </div>
  </div>
</div>

</div>
